nav {
  font-family: "Kanit";
  font-weight: 600;
  color: white;
  font-size: 1.8rem;
  justify-self: center;
}

ul {
  display: flex;
  grid-gap: 60px;
  margin-top: 10px;
  margin-left: 0;
  padding-left: 0;
}

li {
  list-style-type: none;
  margin: 0;
}

body {
  margin: 0;
  background-color: #ed6c34;
}

header {
  display: grid;
  grid-template-rows: 0vh;
}

.section_1 {
  display: grid;
  grid-template-rows: 100vh;
  grid-template-columns: 10vw 40vw 40vw 10vw;
  background-image: url(/img/svg1.png);
  background-size: 100%;
}

h2 {
  font-family: "Kanit";
  font-weight: 700;
  color: white;
  font-size: 3rem;
  grid-row: 1;
  grid-column: 2;
  align-self: flex-end;
}

.wine_category {
  color: #faf200;
}

.wines_container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 20px;
}

img {
  width: 300px;
}

h3 {
  font-family: "Kanit";
  font-weight: 600;
  color: black;
  font-size: 2rem;
}

p {
  font-family: "Kanit";
  font-weight: 200;
  color: black;
  font-size: 1rem;
}

.listed_wine {
  max-width: 300px;
  border-style: solid;
  border-width: 1px;
  padding: 3px;
}
